.wrapper{
	font-weight:bold;
	display:flex;
	flex-direction:column;
}
.headBanner{
	background-image: linear-gradient(to top, #fff, rgba(238,238,238,0.7)), url(https://s.abcnews.com/images/Politics/Politics_12x5_1600.jpg);
	width: 100%;
    height: 240px;
    padding-top: 21px;
    margin-bottom: -170px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	text-align:center;
}
.headBanner h1{
	font-size: 36px;
	margin: 0;
}
.headBanner div{
	font-size: 18px;
    letter-spacing: initial;
    color: #656565;
    line-height: 1;
    margin: 0 0 0;
    font-style: italic;

}
.section1{
	display:flex;
	justify-content: space-between;
	margin-top:50px;
	padding:20px;
	width:1500px;
	align-self:center;
}
.right li{
	padding-bottom:20px;
	border-bottom: 1px solid #e5e5e5;
}
.section1 ul{
	list-style-type: none;
}
.topNews{
	width:800px;
	height:auto;

}
.section1Pic{
	width:100%;
	height:auto;
	align-self:center;
	padding-bottom:20px;
}

.right{

	padding-left:100px;
}

.section2{
	display:flex;
	justify-content: space-between;
	margin-top:50px;
	padding:20px;
	width:1500px;
	align-self:center;
	padding-top:50px;
	border-top:1px solid #ccc;
}
.section2News{
	width:20%;
	height:auto;
}
.section2Pic{
	width:100%;
	height:auto;
	align-self:center;
	padding-bottom:20px;
}

.right{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
}
@media only screen and (max-width: 1200px){
	.section1, .section2{
	 width:100%;
}
}