.wrapper{
	margin-top:50px;
	display:flex;
	flex-direction:column;
	font-weight: bold;
}
.picNews{
	display:flex;
	justify-content:space-evenly;
}
.header{
	text-align:center;
}
.pic{
	width:100%;
	height:auto;
	align-self:center;
	margin-bottom:20px;
}

.news1{
	width:400px;
	display:flex;
	flex-direction:column;
}
.news2{
	width:400px;
	display:flex;
	flex-direction:column;
	border-left: 1px solid #eee;
	padding-left: 50px;
}
.news3{
	width:400px;
	display:flex;
	flex-direction:column;
	border-left: 1px solid #eee;
	padding-left: 50px;

}
.contentNews{
	margin-top:20px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:200px;
	width:1200px;
	align-self:center;
	border-style:double;
	padding:50px;
}
