.Intro, .title, .heading{
	text-align:center;
}
.formWrapper{
	margin-top:50px;
}
.heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 3px;
}
.form_style {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form_style li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form_style label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form_style input[type=text], 
.form_style input[type=date],
.form_style input[type=datetime],
.form_style input[type=number],
.form_style input[type=search],
.form_style input[type=time],
.form_style input[type=url],
.form_style input[type=email],
textarea, 
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form_style input[type=text]:focus, 
.form_style input[type=date]:focus,
.form_style input[type=datetime]:focus,
.form_style input[type=number]:focus,
.form_style input[type=search]:focus,
.form_style input[type=time]:focus,
.form_style input[type=url]:focus,
.form_style input[type=email]:focus,
.form_style textarea:focus, 
.form_style select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form_style .field_divided{
	width: 49%;
}
.form_style .field_long{
	width: 100%;
}
.form_style .field_textarea{
	width: 100%;
	height: 100px;
}
	
.form_style .field_select{
	width: 100%;
}

.form_style input[type=submit], .form_style input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form_style input[type=submit]:hover, .form_style input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form_style .required{
	color:red;
}

.form_style .tel_number_field{
	width: 32%;
}
.checkBox{
    display:flex;
	flex-wrap:wrap;
	font: 13px Arial, Helvetica, sans-serif;
	justify-content:space-evenly;

	
}
